<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>

<head>
    <title>Уралтехнострой - Туймазыхиммаш / Добро пожаловать </title>
    <meta content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script language="JavaScript" src="/menu.js" type="text/JavaScript"></script>
    <meta name="description" content="">
    <meta name="keywords" content=""> </head>

<body>
    <style>
    .paragraph {
        text-indent: 2em;
        text-align: justify;
    }
    </style>
    <div id="measurer">&nbsp;</div>
    <table border="0" cellpadding="0" cellspacing="0" align="center" id="maintable" width="100%">
        <tr>
            <td colspan="2">
                <table cellpadding="5" cellspacing="0" border="0" class="header" width="95%">
                    <tr>
                        <td colspan="2" class="logo" valign="middle"> <img src="/images/logo_text.gif" border="0" alt="Туймазыхиммаш" /> </td>
                        <td class="img_flash" rowspan="2"> <img src="/images/kartinki.jpg" border="0" alt="Туймазыхиммаш " /> </td>
                    </tr>
                    <tr>
                        <td valign="bottom"><a href="http://uralts.ru" target=_blank class="utx">перейти на сайт<br /> ООО "Корпорация Уралтехнострой"</a></td>
                        <td align="center" valign="bottom">
                            <div align="center">
                                <a href="/"><img src="/images/navigation_home.gif" alt="На главную страницу" /></a>
                                <a href="/about_company/contacts/"><img src="/images/navigation_mailto.gif" alt="Написать письмо" /></a>
                                <a href="/map/"><img src="/images/navigation_map.gif" alt="Карта сайта" /></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="menu_left" valign="top">
                <ul>
                    <li id="news1"><a href="/news" id="news">Новости</a></li>
                    <li id="about_company1"><a href="javascript:raz('about_company');">О Компании</a></li>
                    <ul id="about_company" style="display:none">
                        <li><a href="/about_company/history/" id="about_companyhistory">История</a></li>
                        <li><a href="/about_company/tech/" id="about_companytech">Технологические возможности</a></li>
                        <li><a href="/about_company/contacts/" id="about_companycontacts">Контакты</a></li>
                    </ul>
                    <li><a href="/about_company/akcioneram/" id="about_companyakcioneram">Акционерам</a></li>
                    <li id="equipment1"><a href="javascript:raz('equipment');">Оборудование</a></li>
                    <ul id="equipment" style="display:none">
                        <li id="himprom1"><a href="/equipment/katalog/" id="equipmentkatalog">Нефтехимия<br>Нефтепереработка<br>Металлургия</a></li>
                        <li id="atom"><a href="/atom">Атомная промышленность</a></li>
                        <ul id="subatom">
                            <li id="license"><a href="/atom/license">Лицензии</a></li>
                            <li id="nomenclature"><a href="/atom/nomenclature">Номенклатура</a></li>
                            <li id="oenkom"><a href="/atom/oenkom">ОЕНКОМ</a></li>
                        </ul>
<li id="sod"><a href="/equipment/sod">Камеры запуска и приёма СОД</a></li>
                        <li><a href="/equipment/zakaz/" id="equipmentzakaz">Заказ оборудования</a></li>
                        <!-- <li><a href="/equipment/questions/" id="equipmentquestions">Вопрос-ответ</a></li> -->
                        <!-- <li><a href="/equipment/new_tech/" id="equipmentnew_tech">Новые технологии</a></li> -->
                    </ul>
                    <li id="licens1"><a href="javascript:raz('licens');">Лицензии и сертификаты</a></li>
                    <ul id="licens" style="display:none">
                        <li><a href="/licens/kachestvo/" id="licenskachestvo">Система качества</a></li>
                        <li><a href="/licens/licenzii/" id="licenslicenzii">Лицензии</a></li>
                        <li><a href="/licens/sertificati/" id="licenssertificati">Сертификаты</a></li> <li><a href="/licens/programmi/" id="programmi">Программы государственных гарантий</a></li>
                    </ul>
                    <!-- <li id="otzivi"><a href="/otzivi/">Отзывы</a></li> -->
                    <!-- <li id="vistavki"><a href="/vistavki/">Выставки и конференции</a></li> -->
                    <!-- <li id="press"><a href="/press/">Пресс-служба</a></li> -->
                    <!-- <li id="press"><a href="/vacancy/">Вакансии</a></li> -->
                    <li id="photo"><a href="/photo/">Фотогалерея</a></li>
                    <li id="feedback"><a href="/feedback/">Обратная связь</a></li>
                </ul>
                <script language="JavaScript" type="text/JavaScript"> zagr('','', '');</script>
                <form action="/search/">
                    <table cellpadding="0" cellspacing="0" border="0" class="search" align="left">
                        <tr>
                            <td align="left" valign="middle" class="search_bg">
                                <input name="text" class="search_pole" size="21" /> </td>
                            <td align="center" valign="middle">
                                <input class="search_button" value="Поиск" type="submit" /> </td>
                        </tr>
                    </table>
                    <br /> </form>
                <div style="margin-top:80px;">В связи с выявлением фактов использования фирменного наименования предприятия третьими лицами, АО "Уралтехнострой-Туймазыхиммаш" уведомляет, что не имеет дочерних и иных зависимых обществ с использованием наименования "Туймазыхиммаш"</div>
            </td>
            <td class="main_col">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td class="f_col" valign="top">
                            <h2>Уведомление об изменении наименования юридического лица</h2>
                            <p class="paragraph">В связи с внесением изменений в главу 4 Гражданского кодекса РФ и ФЗ "Об акционерных обществах" общим собранием акционеров было принято решение о приведении Устава Общества в соответствии с законодательством и утверждении его в новой редакции (протокол №47 от 12.05.2017 года). Данным решением Открытое акционерное общество "Уралтехнострой-Туймазыхиммаш" переименовано в <strong>Акционерное общество "Уралтехнострой-Туймазыхиммаш"</strong> (сокращённое наименование <strong>АО "Уралтехнострой-Туймазыхиммаш"</strong>)</p>
                            <p class="paragraph">В Единый государственный реестр юридических лиц 23 мая 2017 года внесена запись за номером 2170280601621 о государственной регистрации изменений, вносимых в учредительные документы юридического лица</p>
                            <!-- ********************* -->
                            <h2>НОВОСТИ</h2>
                            <h3>С новым 2018 годом!</h3>
                            <p> <a href="/news/20171229/">Читать далее...</a> </p>
                            <h3>Получены сертификаты</h3>
                            <p> <a href="/news/201712291/">Читать далее...</a> </p>
                            <h3>Новое оборудование</h3>
                            <p> <a href="/news/201712292/">Читать далее...</a> </p>
                            <h3>Оборудование для АО «Газпромнефть-ОНПЗ»</h3>
                            <p> <a href="/news/20171228/">Читать далее...</a> </p>
                            <h3>Новая продукция</h3>
                            <p> <a href="/news/20171204/">Читать далее...</a> </p>
                            <h3>Оборудование для АО «Тюменнефтегаз»</h3>
                            <p> <a href="/news/20171201/">Читать далее...</a> </p>
                             <h3>Оборудование для АО «Газпромнефть-МНПЗ»</h3>
                            <p> <a href="/news/20171102/">Читать далее...</a> </p>
                             <h3>С днем машиностроителя!</h3>
                            <p> <a href="/news/20170922/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>Участие в XXV Международной специализированной выставке «Газ. Нефть. Технологии»</h3>
                            <p> <a href="/news/20170516/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>С днём Победы!</h3>
                            <p> <a href="/news/20170505/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>Месячник охраны труда в Республике Башкортостан</h3>
                            <p>Во исполнение постановления Правительства Республики Башкортостан от 12.08.2013г. №369 «Об организации и проведении месячника охраны труда в Республике Башкортостан» в целях совершенствования проводимой работы по улучшению условий и охраны труда, снижения уровня производственного травматизма и профессиональной заболеваемости, в ОАО «Уралтехнострой-Туймазыхиммаш» с 10.04.2017г. по 28.04.2017г. проводился месячник по охране труда.</p>
                            <p> <a href="/news/20170428/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>С международным женским днём!</h3>
                            <p> <a href="/news/20170307/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>С днём защитника отечества!</h3>
                            <p> <a href="/news/20170220/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>С новым 2017 годом!</h3>
                            <p> <a href="/news/20161228/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>30 ноября 2016г. ОАО «Уралтехнострой-Туймазыхиммаш» посетила делегация представителей ЗАО «Кыргыз Петролеум Компани», Торгового Дома «Кыргызстан-Башкортостан» и ООО «Промышленные технологии»</h3>
                            <p> <a href="/news/20161201/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>Лучшие по профессии - молодые работники нашего предприятия!</h3>
                            <p>26 ноября 2016г. на базе предприятия ОАО «Уралтехнострой-Туймазыхиммаш» состоялся X юбилейный республиканский конкурс профессионального мастерства среди молодых электросварщиков «Лучший по профессии». Организатором мероприятия выступил Профсоюз машиностроителей РБ.</p>
                            <p> <a href="/news/20161129/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>20-21 октября 2016 г. ОАО «Уралтехнострой-Туймазыхиммаш» посетила делегация представителей "CHIYODA Corporation" (Япония).</h3>
                            <p></p>
                            <p> <a href="/news/20161021/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>12 октября 2016 г. ОАО «Уралтехнострой-Туймазыхиммаш» посетила делегация представителей «Kinetics Technology SpA» и ООО «Энерджи энд Инжиниринг».</h3>
                            <p></p>
                            <p> <a href="/news/20161013/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>Празднование Дня машиностроителя</h3>
                            <p>23 сентября 2016 г. состоялось торжественное собрание, посвященное празднованию Дня машиностроителя.</p>
                            <p> <a href="/news/20160926/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>С Днем Машиностроителя!</h3>
                            <p> <a href="/news/20160922/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>Визит представителей компании Cameron, компания Schlumberger</h3>
                            <p> <a href="/news/20160623/">Читать далее...</a> </p>
                            <!-- ===================== -->
                            <h3>1 июня 2016г. на территории ОАО «Уралтехнострой-Туймазыхиммаш» прошел праздник, посвященный Дню защиты детей</h3>
                            <p> <a href="/news/20160602/">Читать далее...</a> </p>
                        </td>
                        <td class="s_col" valign="top">
                            <h2>ОБОРУДОВАНИЕ</h2>
                            <!-- ===================== -->
                            <h3>Машина термической резки металла "Кристалл-2,5".</h3>
                            <p> Изготовитель: ООО ПКФ «Кристалл», г.Санкт-Петербург.
                                <br/> С системой числового программного управления (ЧПУ) в исполнении «Плазма 400М+Газ» с 8-ми метровым рельсовым путем.
                                <br/> Резка заготовок осуществляется по управляемой программе, исключающей операции: разметка, настройка инструмента. Резка листа нержавеющих сталей толщиной от 1 мм до 100 мм и углеродистых сталей толщиной от 4 мм до 300 мм.
                                <br/> Внедрение данной технологии на заводе позволяет снизить долю ручной газовой резки до 60 % и заменить ручную плазменную резку на машинную резку; повысить качество резки листового проката до Ra50.
                                <br/> Машина внедрена в эксплуатацию с 2005 года.
                                <br /> <a href="/equipment/new_tech">Читать далее...</a> </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="footer">
            <td> <img src="/images/telefoni.gif" /> </td>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="80%" class="footer_r">
                    <tr>
                        <td>
                            <p class="copyright">(c) АО "Уралтехнострой-Туймазыхиммаш", 2008-2018</p>
                            <p class="address">РБ, 452754, г. Туймазы, ул. Горького, 37
                                <br />info@tzhimmash.ru</p>
                        </td>
                        <td align="right">
                            <a href="http://itcentre.ru" target="_blank"><img src="/images/cit.gif" alt="ООО Центр Информационных Технологий" border=0 /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter23575954 = new Ya.Metrika({
                    id: 23575954,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="//mc.yandex.ru/watch/23575954" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>
